Fake News classification.

Implementation of RNN can be Done in the  2 step
1.Data preproceeing
    a)checking null value
    b)making all text in lower case
    c)Handling contractions
    d)stop words removal
    e)converting text data to numbers so that we can pss it to model for training here we used integer encoding
2.Model training

1.Data preprocessing

In [9]:
#iRequired Packages
import pandas as pd
import numpy as np

In [10]:
import numpy

In [11]:
numpy.__version__

'1.26.4'

In [12]:
import nltk

In [13]:
import contractions

In [14]:
#pip install --upgrade tensorflow

In [15]:
import tensorflow

In [16]:
#downloading or installing a package of particular version
#pip install --upgrade numpy==1.10.1

In [17]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [18]:
from nltk.corpus import stopwords

In [19]:
#data Loading
df=pd.read_csv("News.csv")
df.head(5)

                                                News   Fake
0  Says the Annies List political group supports ...  False
1  When did the decline of coal start? It started...   True
2  Hillary Clinton agrees with John McCain "by vo...   True
3  Health care reform legislation is likely to ma...  False
4  The economic turnaround started at the end of ...   True

In [20]:
df['News'][1]

'When did the decline of coal start? It started when natural gas took off that started to begin in (President George W.) Bushs administration.'

In [21]:
#basic info regarding the data
df.info

<bound method DataFrame.info of                                                     News   Fake
0      Says the Annies List political group supports ...  False
1      When did the decline of coal start? It started...   True
2      Hillary Clinton agrees with John McCain "by vo...   True
3      Health care reform legislation is likely to ma...  False
4      The economic turnaround started at the end of ...   True
...                                                  ...    ...
10235  There are a larger number of shark attacks in ...   True
10236  Democrats have now become the party of the [At...   True
10237  Says an alternative to Social Security that op...   True
10238  On lifting the U.S. Cuban embargo and allowing...  False
10239  The Department of Veterans Affairs has a manua...  False

[10240 rows x 2 columns]>

In [22]:
df.columns

Index(['News', 'Fake'], dtype='object')

In [23]:
df.dtypes

News    object
Fake      bool
dtype: object

In [24]:
#checking null value in the news column and the fake column
df['News'].isnull().value_counts(),df['Fake'].isnull().value_counts()

(News
 False    10240
 Name: count, dtype: int64,
 Fake
 False    10240
 Name: count, dtype: int64)

In [25]:
#1.b)Making all text to lower case
#df["News"].apply(lambda x: x.lower())

In [26]:
#1.b)Making all text to lower case
df["News"]=df["News"].str.lower()

In [27]:
df

                                                    News   Fake
0      says the annies list political group supports ...  False
1      when did the decline of coal start? it started...   True
2      hillary clinton agrees with john mccain "by vo...   True
3      health care reform legislation is likely to ma...  False
4      the economic turnaround started at the end of ...   True
...                                                  ...    ...
10235  there are a larger number of shark attacks in ...   True
10236  democrats have now become the party of the [at...   True
10237  says an alternative to social security that op...   True
10238  on lifting the u.s. cuban embargo and allowing...  False
10239  the department of veterans affairs has a manua...  False

[10240 rows x 2 columns]

In [28]:
#1.c)Handling contractions
df['News'] = df['News'].apply(lambda x: contractions.fix(x))
df['News']

0        says the annies list political group supports ...
1        when did the decline of coal start? it started...
2        hillary clinton agrees with john mccain "by vo...
3        health care reform legislation is likely to ma...
4        the economic turnaround started at the end of ...
                               ...
10235    there are a larger number of shark attacks in ...
10236    democrats have now become the party of the [at...
10237    says an alternative to social security that op...
10238    on lifting the you.s. cuban embargo and allowi...
10239    the department of veterans affairs has a manua...
Name: News, Length: 10240, dtype: object

In [29]:
#1.d)Removing stopwrds
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

df['News'] = df['News'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))

In [30]:
df['News']

0        says annies list political group supports thir...
1        decline coal start? started natural gas took s...
2        hillary clinton agrees john mccain "by voting ...
3        health care reform legislation likely mandate ...
4                    economic turnaround started end term.
                               ...
10235    larger number shark attacks florida cases vote...
10236    democrats become party [atlanta] metro area bl...
10237    says alternative social security operates galv...
10238    lifting you.s. cuban embargo allowing travel c...
10239    department veterans affairs manual telling vet...
Name: News, Length: 10240, dtype: object

In [31]:
#1.e)Integer encoding
df['News']

0        says annies list political group supports thir...
1        decline coal start? started natural gas took s...
2        hillary clinton agrees john mccain "by voting ...
3        health care reform legislation likely mandate ...
4                    economic turnaround started end term.
                               ...
10235    larger number shark attacks florida cases vote...
10236    democrats become party [atlanta] metro area bl...
10237    says alternative social security operates galv...
10238    lifting you.s. cuban embargo allowing travel c...
10239    department veterans affairs manual telling vet...
Name: News, Length: 10240, dtype: object

In [33]:
#pip list
from tensorflow.keras.preprocessing.text import Tokenizer

In [34]:
tokenizer=Tokenizer(oov_token='nothing')
tokenizer.fit_on_texts(df["News"])

In [ ]:
tokenizer.word_index

In [ ]:
tokenizer.word_counts

In [37]:
#it give total no. of sentence  in  our column News
tokenizer.document_count

10240

In [41]:
#now replacing these word to its index  value which is assigned to each words
df_x=tokenizer.texts_to_sequences(df['News'])
df_x[0]

[2, 6876, 1042, 431, 529, 295, 354, 5027, 494, 1499]

In [54]:
from keras.preprocessing.sequence import pad_sequences
df_x=pad_sequences(df_x,padding='post')
df_x[0]

array([   2, 6876, 1042,  431,  529,  295,  354, 5027,  494, 1499,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0], dtype=int32)

In [53]:
len(df_x[0])

415

In [44]:
df['Fake']=df['Fake'].astype(int)
df['Fake']

0        0
1        1
2        1
3        0
4        1
        ..
10235    1
10236    1
10237    1
10238    0
10239    0
Name: Fake, Length: 10240, dtype: int64

In [ ]:
#now our traing data is ready
#df_x and df['Fake']

2.Model traing part

In [56]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,SimpleRNN,Embedding,LSTM

In [62]:
model=Sequential()
model.add(SimpleRNN(3,input_shape=(415,1)))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam')
model.fit(df_x,df['Fake'],epochs=10)

Epoch 1/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 18s 50ms/step - loss: 0.6879
Epoch 2/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 16s 51ms/step - loss: 0.6843
Epoch 3/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 22s 56ms/step - loss: 0.6840
Epoch 4/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 19s 50ms/step - loss: 0.6858
Epoch 5/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 16s 49ms/step - loss: 0.6843
Epoch 6/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 21s 51ms/step - loss: 0.6841
Epoch 7/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 16s 50ms/step - loss: 0.6848
Epoch 8/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 16s 50ms/step - loss: 0.6845
Epoch 9/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 22s 55ms/step - loss: 0.6838
Epoch 10/10
320/320 ━━━━━━━━━━━━━━━━━━━━ 19s 50ms/step - loss: 0.6844